<div id="comment2u" style="font-size: 14px; margin: 0 auto; width: 720px; max-width: 100%; background-color: #eee; border-radius: 3px;">
  <div class="wrap" style="padding: 10px 20px;">
    <div class="header" style="line-height: 30px; position: relative; padding-bottom: 10px; border-bottom: 1px solid #d6d6d6; background-color: #eee; text-align: center; margin-bottom: 12px;">{siteTitle}交流群</div>
    <div class="body" style="min-height: 600px;">
      <div class="item notice" style="max-width: 100%; text-align: center; font-size: 12px; margin: 0 auto; padding: 1px 10px; color: #b2b2b2; line-height: 24px;;margin-bottom: 12px;">
        "{PostAuthor}"发布了《<a href="{permalink}" style="color: #526685; text-decoration: none;">{title}</a>》，访客可通过评论加入
      </div>
      <div class="item notice" style="max-width: 100%; text-align: center; font-size: 12px; margin: 0 auto; padding: 1px 10px; color: #b2b2b2; line-height: 24px;;margin-bottom: 12px;">"{Pname}"通过评论加入了群聊</div>
      <div class="item notice" style="max-width: 100%; text-align: center; font-size: 12px; margin: 0 auto; padding: 1px 10px; color: #b2b2b2; line-height: 24px;;margin-bottom: 12px;">{time}</div>
      <div class="item parent" style="display: flex; margin-bottom: 12px; justify-content: flex-end;">
        <div class="scope">
          <div class="nick" style="text-align: right; padding-right: 10px; font-size: 12px; height: 24px; color: #4f4f4f; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">{Pname}</div>
          <div class="content" style="word-wrap: break-word; word-break: break-all; min-height: 25px; max-width: 500px; min-height: 1em; font-size: 14px; border-radius: 3px; margin: 0 10px; text-align: left; position: relative; padding: 10px 15px; background-color: #b2e281;">
            <span class="arrow" style="width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid #b2e281; right: -6px; top: 12px; position: absolute;"></span>
            <div>{Ptext}</div>
          </div>
        </div>
        <div class="avatar">
          <img src="https://cravatar.cn/avatar/{Pmd5}?d=monsterid&s=40" alt="" style="width: 40px; height: 40px; border-radius: 2px; cursor: pointer;" />
        </div>
      </div>
      <div class="item notice" style="max-width: 100%; text-align: center; font-size: 12px; margin: 0 auto; padding: 1px 10px; color: #b2b2b2; line-height: 24px;;margin-bottom: 12px;">"{author}"通过评论加入了群聊</div>
      <div class="item child" style="display: flex; margin-bottom: 12px; justify-content: flex-start;">
        <div class="avatar">
          <img src="https://cravatar.cn/avatar/{md5}?d=monsterid&s=40" alt="" style="width: 40px; height: 40px; border-radius: 2px; cursor: pointer;" />
        </div>
        <div class="scope">
          <div class="nick" style="padding-left: 10px; font-size: 12px; height: 24px; color: #4f4f4f; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;">{author}</div>
          <div class="content" style="word-wrap: break-word; word-break: break-all; min-height: 25px; max-width: 500px; min-height: 1em; font-size: 14px; border-radius: 3px; margin: 0 10px; text-align: left; position: relative; padding: 10px 15px; background-color: #ffffff;">
            <span class="arrow" style="width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 6px solid #ffffff; left: -6px; top: 12px; position: absolute;"></span>
            <div>{commentText}</div>
          </div>
        </div>
      </div>
      <div class="item notice" style="max-width: 100%; text-align: center; font-size: 12px; margin: 0 auto; padding: 1px 10px; color: #b2b2b2; line-height: 24px;;margin-bottom: 12px;">
        你被"{PostAuthor}"移出群聊，请在
        "<a target="_blank" href="{siteUrl}" style="color: #526685; text-decoration: none;">这里</a>"
        进行投诉
      </div>
    </div>
  </div>
</div>